/* Estilos de colores*/
/* contraste de colores: https://coolors.co/  */
.colores{
    color:red;
}
.color-hexadecimal{
    color:#53fbe2;
}
/*COLORES POR MEZCLA*/
.color-rgb{
    color: rgb(100,0, 200)
}
/*Color con OPACIDAD*/
.color-rgba{
    color:rgba(red, green, blue, 0.2)
}
.fondo{
    background-image: url("https://fondosmil.com/fondo/23740.jpg");
    background-position: left bottom;
}
.ancho{
    background-color: aqua;
    width: 200px;
}
.alto{
    background-color: blueviolet;
    height: 100px;
}
.tarjeta{
    border-style:solid;
    border-color: rgb(rgb(0, 255, 98), #008000, blue);
    border-width: 1px;
    border-top:none ;
    padding:50px 20px 30px 40px;
    margin:10px 20px;
   
}